* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: blanchedalmond;
    margin: 0;
}

body {
    margin: 50px;
    width: 1024px;
}

h1.page-title {
    border: 2px solid black;
    width: fit-content;
    padding: 8px;
    margin: 20px auto;
}

.recipe-list ol li {
    padding: 8px;
}

img,
.recipe-description,
.recipe-header,
.recipe-list ol li a,
.recipe-ingredients,
.recipe-steps {
    margin: 8px;
    padding: 8px;
}

.recipe-list ol li a {
    text-decoration: none;
}

img {
    width: 30%;
    height: auto;
}

.recipe-header .page-title {
    margin: 0 auto;
}

.recipe-description h2 {
    margin-top: 30px;
}

.recipe-description {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.recipe-ingredients,
.recipe-steps {
    display: inline-block;
    vertical-align: top;
}

.recipe-ingredients {
    width: 30%;
}

.recipe-steps {
    width: 50%;
}

.index-link {
    display: block;
    margin: 20px auto;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}